use master
Drop Database QLBansach
----------
create database QLBANSACH
GO
use QLBANSACH
GO
CREATE TABLE KHACHHANG
(
	MaKH INT IDENTITY(1,1),
	HoTen nVarchar(50) NOT NULL,
	Taikhoan Varchar(50) UNIQUE,
	Matkhau Varchar(50) NOT NULL,
	Email Varchar(100) UNIQUE,
	DiachiKH nVarchar(200),
	DienthoaiKH Varchar(50),	
	Ngaysinh DATETIME
	CONSTRAINT PK_Khachhang PRIMARY KEY(MaKH)
)
GO
Create Table CHUDE
(
	MaCD int Identity(1,1),
	TenChuDe nvarchar(50) NOT NULL,
	CONSTRAINT PK_ChuDe PRIMARY KEY(MaCD)
)
GO
Create Table NHAXUATBAN
(
	MaNXB int identity(1,1),
	TenNXB nvarchar(50) NOT NULL,
	Diachi NVARCHAR(200),
	DienThoai VARCHAR(50),
	CONSTRAINT PK_NhaXuatBan PRIMARY KEY(MaNXB)
)
GO
CREATE TABLE TACGIA
(
	MaTG INT IDENTITY(1,1),
	TenTG NVARCHAR(50) NOT NULL,
	Diachi NVARCHAR(100),
	Tieusu nVarchar(Max),
	Dienthoai VARCHAR(50),
	CONSTRAINT PK_TacGia PRIMARY KEY(MaTG)
)
Go
CREATE TABLE SACH
(
	Masach INT IDENTITY(1,1),
	Tensach NVARCHAR(100) NOT NULL,
	Giaban Decimal(18,0) CHECK (Giaban>=0),
	Mota NVarchar(Max),
	Anhbia VARCHAR(50),
	Ngaycapnhat DATETIME,
	Soluongton INT,
	MaCD INT,
	MaNXB INT,
	CONSTRAINT PK_Sach PRIMARY KEY(Masach),
	CONSTRAINT FK_Chude FOREIGN KEY(MaCD) REFERENCES CHUDE(MaCD),
	CONSTRAINT FK_Nhaxuatban FOREIGN KEY(MaNXB) REFERENCES NHAXUATBAN(MANXB)
)
GO
CREATE TABLE VIETSACH
(
	MaTG INT,
	Masach INT,
	Vaitro NVARCHAR(50),
	Vitri NVarchar(50)
	CONSTRAINT FK_TG FOREIGN KEY(MaTG) REFERENCES TACGIA(MaTG),
	CONSTRAINT FK_Sach FOREIGN KEY(Masach) REFERENCES Sach(Masach),
	CONSTRAINT PK_VietSach PRIMARY KEY(MaTG,Masach)
)
GO
CREATE TABLE DONDATHANG
(
	MaDonHang INT IDENTITY(1,1),
	Dathanhtoan bit,
	Tinhtranggiaohang  bit,
	Ngaydat Datetime,
	Ngaygiao Datetime,	
	MaKH INT,
	CONSTRAINT FK_Khachhang FOREIGN KEY(MaKH) REFERENCES Khachhang(MaKH),
	CONSTRAINT PK_DonDatHang PRIMARY KEY(MaDonHang)
)
GO
CREATE TABLE CHITIETDONTHANG
(
	MaDonHang INT,
	Masach INT,
	Soluong Int Check(Soluong>0),
	Dongia Decimal(18,0) Check(Dongia>=0),	
	CONSTRAINT PK_CTDatHang PRIMARY KEY(MaDonHang,Masach),
)
GO

/****** CHUDE******/
INSERT CHUDE(TenChuDe) VALUES (N'Ngoại ngữ')
INSERT CHUDE(TenChuDe) VALUES (N'Công nghệ thông tin')
INSERT CHUDE(TenChuDe) VALUES (N'Luật')

/****** KHACHHANG ******/
INSERT KHACHHANG (Hoten, DiachiKH, DienthoaiKH, Taikhoan, Matkhau, Ngaysinh, Email)
VALUES (N'Dương Thành Phết', N'12 Trần Huy Liệu', N'0918062755', N'thayphet.net', N'123456', '08/20/1976', 'phetcm@hgmail.com')
INSERT KHACHHANG (Hoten, DiachiKH, DienthoaiKH, Taikhoan, Matkhau, Ngaysinh, Email) 
VALUES (N'Nguyễn Tiến Luân', N'21 Quận 6', N'0917654310', N'thang', N'123456', '10/15/1990', N'ntluan@hcmuns.edu.vn')
INSERT KHACHHANG (Hoten, DiachiKH, DienthoaiKH, Taikhoan, Matkhau, Ngaysinh, Email) 
VALUES (N'Đặng Quốc Hòa', N'32 Sư Vạn Hạnh', N'098713245', N'dqhoa', N'hoa', '05/21/1991', N'dqhoa@hcmuns.edu.vn')

/****** TACGIA******/
INSERT TACGIA(TenTG, Diachi, Tieusu, Dienthoai) VALUES (N'Phạm Công Anh', N'197 Trần Hưng Đạo','', N'98877668')
INSERT TACGIA(TenTG, Diachi, Tieusu, Dienthoai) VALUES (N'Nguyễn Thế Giang', N'179 Chánh hưng - F.4 - Q.8 Tp.HCM','', N'19001611')
INSERT TACGIA(TenTG, Diachi, Tieusu, Dienthoai) VALUES (N'Lê Việt Nhân', N'45 Lý Thái Tổ-F2.Q.3 Tp.HCM','', N'19001570')

/****** NHAXUATBAN    ******/

INSERT NHAXUATBAN(TenNXB, Diachi, Dienthoai) VALUES (N'Nhà xuất bản Trẻ', N'124 Nguyễn Văn Cừ Q.1 Tp.HCM', N'19001560')
INSERT NHAXUATBAN(TenNXB, Diachi, Dienthoai) VALUES ( N'NXB Thống kê', N'Đồng Nai', N'19001511')
INSERT NHAXUATBAN(TenNXB, Diachi, Dienthoai) VALUES ( N'Kim đồng', N'Tp.HCM', N'19001570')


/******SACH ******/


INSERT SACH(Tensach, Giaban, Mota,Anhbia, MaCD, MaNXB, Ngaycapnhat, Soluongton) 
VALUES (N'Giáo trình Tin học cơ bản', 26000, N'Nội dung của cuốn: Tin Học Cơ Bản Windows XP gồm có 7 chương:
Chương 1: Một số vấn đề cơ bản. 
Chương 2: Sử dụng nhanh thanh công cụ và thanh thực đơn trong My Computer và Windows Explorer. 
Chương 3: Các thao tác trong windows XP. 
Chương 4: Các thiết lập trong Windows XP. 
Chương 5: Bảo trì máy tính. 
Chương 6: Các phím tắt 
Chương 7: Hỏi và đáp các thắc mắc.
Xin trân trọng giới thiệu cuốn sách cùng bạn', 
'THCB.jpg', 7, 1, '10/25/2014', 120)

INSERT SACH(Tensach, Giaban, Mota,Anhbia, MaCD, MaNXB, Ngaycapnhat, Soluongton) 
VALUES (N'Giáo trình Tin học văn phòng', 12000,  
N'Cuốn sách này gồm 3 phần sau:
Phần 1: Xử lý văn bản trong Microsoft Office Word 2007. 
Phần 2: Xử lý bảng tính trong Microsoft Office Excel 2007. 
Phần 3: Quản lý cơ sở dữ liệu trong Microsoft Office Access 2007.
Xin trân trọng giới thiệu cùng các bạn.', 
'TH004.jpg', 3, 2, '10/23/2013', 25)















 






select * from SACH

/******		Vietsach ******/
INSERT VIETSACH(Masach, MaTG,Vitri, Vaitro) VALUES (1, 1,'Biên soạn' , N'Tác giả')
INSERT VIETSACH(Masach, MaTG,Vitri, Vaitro) VALUES (1, 3,'Biên soạn', N'Đồng tác giả')
INSERT VIETSACH(Masach, MaTG,Vitri, Vaitro) VALUES (1, 4, '', N'Hiệu đính')


/****** DONDATHANG ******/

INSERT DONDATHANG (MaKH, Dathanhtoan,Ngaydat,Ngaygiao,Tinhtranggiaohang) 
VALUES ( 1,0, '10/15/2115', '10/20/2015',0)

INSERT DONDATHANG (MaKH, Dathanhtoan,Ngaydat,Ngaygiao,Tinhtranggiaohang) 
VALUES ( 3,0, '10/05/2114', '10/20/2014',0)

/******CHITIETDONHANG ******/
INSERT CHITIETDONTHANG (MaDonHang,MASACH,SOLUONG, Dongia) VALUES (1, 19, 1, 25000)
INSERT CHITIETDONTHANG (MaDonHang,MASACH,SOLUONG, Dongia) VALUES (1, 15, 3, 50000)
INSERT CHITIETDONTHANG (MaDonHang,MASACH,SOLUONG, Dongia) VALUES (1, 14, 1, 25000)

