
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div style="overflow:hidden;width: 700px;position: relative;">
                <iframe width="700" height="500" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.7757766502449!2d106.69022388813724!3d10.803414616851741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c4fe41716d%3A0xebc51c6be364209b!2zMjAgUGhhbiDEkMSDbmcgTMawdSwgUGjGsOG7nW5nIDYsIFBow7ogTmh14bqtbiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1605602729348!5m2!1svi!2s
                        " frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <style>
                    #gmap_canvas img {
                        max-width: none !important;
                        background: none !important
                    }
                </style>
            </div><br />
        </div>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=363042360856697&autoLogAppEvents=1" nonce="bVYZZVJ0"></script>
        <div class="fb-page" data-href="https://www.facebook.com/banlaptop.somee.vn/" data-tabs="timeline" data-width="700" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/banlaptop.somee.vn/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/banlaptop.somee.vn/">Laptop Cho Sinh Viên</a></blockquote></div>

        <div class="col-lg-6">
            <p>Mở cửa: 7h30-22h hằng ngày</p>
            <p>Thời gian bảo hành trong ngày: 8h-17h30 hằng ngày</p>
            <p>Bảo hành và chăm sóc khách hàng tận tình</p>
            <p style="font-size:xx-large; color:darkred">CỐ GẮNG TẶNG MẸ MỘT BỘ GEAR THẬT XỊN >V<</p>
        </div>
    </div>
</div>




